@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fontawesome/css/fontawesome.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
  font-family: 'My Font';
  src: url('Rowdies-Regular.ttf') format('truetype');
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'My Font', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#B3C100
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#start-button-image{
  width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 125px solid #555;
	border-bottom: 75px solid transparent;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: black;
}
td {
    width: 20px; height: 20px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	background: white;
}

  

